@model IList<GroupWebApp.Storage.Entities.Recipe>
   
    <div id="popup" class="popup">
     <a href="#body" class="popup_area">

     </a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#body" class="popup_close">X</a>
              <div class="popup_title">Добавьте свой рецепт!</div>
              <div class="popup_text">                 
@foreach (var recipe in Model)
{ 
     <a asp-controller="SelectedRecipe" asp-action="Main" asp-route-id="@recipe.Id" class="category_button">@recipe.Name</a>
}
@{
   <form asp-action="OnPost" asp-controller="Recipes" method="post" enctype="multipart/form-data">
    <p>
        <label>Имя</label>
        <input name="Name" class="form-control" />
    </p>
    <p>
        <label>Картинка</label>
        <input name="Img" type="file" class="form-control" />
    </p>
    <p>
        <label>Описание</label>
        <input name="desc" class="form-control" />
    </p>
    <p>
        <label>IdПодкатегории</label>
        <input name="SubCategoryId" class="form-control" />
    </p>
    <p>
        <label>Национальная кухня(необязательное поле)</label>
        <input name="NationalKitchenId" class="form-control" />
    </p>
    <p>
        <label>Тип приготовления(необязательное поле)</label>
        <input name="TypeOfPreparationId" class="form-control" />
    </p>
    <p>
        <label>Ингредиент(необязательное поле)</label>
        <input name="IngredientId" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
}
</div>
</div>
</div>
</div>

